*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(170,61,81);
background: linear-gradient(90deg, rgba(170,61,81,1) 0%, rgba(154,9,15,1) 35%, rgba(255,180,180,1) 100%);
    font-family: 'Island Moments', cursive;
}
#resultado{
display: grid;
grid-template-columns: repeat(4, 2fr);
grid-template-rows: auto;
gap: 25px;

}