*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

   
background: rgb(251,201,201);
background: radial-gradient(circle, rgba(251,201,201,1) 0%, rgba(214,0,0,1) 100%);
font-family: 'Devonshire', cursive;
text-align: center;

}
#Resultado{
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(200px, auto) ;
    gap: 20px;
    }
    .user{
        background: #79fffc;
        border-radius: 20px;
        padding: 20px;
    }
a {
    text-decoration:none;
    color:#0030ff;
    }
    .rainbow-button {
    width:calc(20vw + 6px);
    height:calc(8vw + 20px);
    background-image: linear-gradient(90deg, #002443 0%, #005c9b 49%, #009cff 80%, #00e2ff 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:3vw;
    font-weight:bold;
    }
.rainbow-button:after {
    content:attr(alt);
    width:19vw;
    height:8vw;
    background-color:#afbcff;
    display:flex;
    align-items:center;
    justify-content:center;
    }
.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
    }

    @keyframes slidebg {
    to {
    background-position:20vw;
    }
    }

